.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  & + .input {
    margin-top: 1.5rem;
  }

  label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: 0.25s ease;
  }

  label,
  .input-field {
    font-size: 1.5rem;
    padding: 12px 12px;
  }

  .input-field {
    border: 0;
    margin-top: 1.5rem;

    line-height: 2.4rem;
    color: var(--black);
    border-bottom: 2px solid #eee;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &:focus,
    &:not(:placeholder-shown) {
      outline: 0;
      border-bottom-color: var(--purple);
      & + label {
        color: var(--purple);
        transform: translateY(-2.5rem);
        padding: 0;
      }
    }
  }
}
