%circle-shared {
  position: relative;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
}
%psuedo-circles-shared {
  content: "";
  position: absolute;
}

.mac-window-effect {
  position: absolute;
  padding-block: 4px;
  padding-inline: 4px;
  width: 100%;
  background-color: black;

  .circle {
    @extend %circle-shared;
    background-color: #ed6a5e;
    &::before {
      @extend %circle-shared, %psuedo-circles-shared;
      background-color: #f5bf46;
      left: 20px;
    }
    &::after {
      @extend %circle-shared, %psuedo-circles-shared;
      background-color: #62c554;
      left: 40px;
    }
  }
}
