$mobile: 768px;

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  h1,
  h2 {
    margin: 0;
  }
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 5rem;
  }
  p {
    position: relative;
    font-weight: 300;
    font-size: 2rem;
    .highlight {
      color: var(--accent-color);
      position: relative;

      .background {
        position: absolute;
        width: 113%;
        height: 120%;
        top: -3px;
        left: 0;
        rotate: -3deg;
        scale: 1.15;
        z-index: -1;
        background-color: black;
      }
    }
  }

  #scroll__icon__wrapper {
    position: absolute;
    bottom: 0;
    #scroll__icon {
      width: 64px;
      height: 64px;
    }
  }

  @media (max-width: $mobile) {
    padding: 3rem;
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
