:root {
  --background-color: #242424;
  --accent-color: mediumpurple;
  --black: #010101;
  --purple: #685ad3;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;

  font-family: var(--font-space-grotesk);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
