$mobile: 768px;
$book-bg: white;
$book-color: var(--background-color);
$book-accent: var(--accent-color);

section.book-section {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  font-family: var(--font-poppins);
  padding-block: 6rem;
  letter-spacing: 0.5px;
  background-color: $book-bg;
  color: $book-color;

  article.book {
    width: 50vw;

    align-content: center;
    h4.book-date {
      font-weight: 300;
      font-size: 1.5rem;
    }
    p.book-impressions,
    li.quote {
      font-weight: 200;
    }
    li.actionable-step,
    li.quote {
      margin-block-end: 2rem;
    }
    h1.book-title {
      font-size: 4rem;
      font-weight: 500;
      text-transform: uppercase;
      margin: 1.5rem 0;
    }
    h3 {
      font-size: 2.5rem;
      font-weight: 500;
      margin: 0;
    }
    ul.quotes {
      list-style: none;
      padding-inline: 0;
      padding-block: 2rem;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      li.quote {
        border-left: 1.618px solid $book-accent;
        padding-inline-start: 1rem;
      }
    }
    .seperator {
      border-bottom: 1px solid gray;
    }
    .share-links {
      margin-block-start: 1rem;
      svg {
        width: 32px;
        height: 32px;
        cursor: pointer;
        path {
          fill: $book-color;
        }
      }
      .share-link.icon {
        rotate: 10deg;
      }
    }
  }
  @media (max-width: $mobile) {
    justify-content: flex-start;
    padding-inline: 1.5rem;
    article.book {
      width: 100%;
      h1.book-title {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 2rem;
      }
      ul.quotes {
        li.quote {
          font-size: 1.5rem;
        }
      }
    }
  }
}
