$mobile: 768px;

#mouse-trail {
  position: fixed;

  width: 600px;
  aspect-ratio: 1;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  opacity: 0.55;
  background: linear-gradient(to right, hsl(160, 34%, 51%), mediumpurple);

  animation: rotate 20s linear infinite;
  filter: blur(500px);
  z-index: -2;

  @media (max-width: $mobile) {
    display: none;
  }
}

// #mouse-trail::after {
//   content: "";
//   position: absolute;
//   border-radius: 50%;
//   width: 300%;
//   height: 300%;

//   translate: -50% -50%;
//   backdrop-filter: blur(300px);
// }

@keyframes rotate {
  50% {
    scale: 1.25 1.12;
  }
  to {
    rotate: 360deg;
  }
}
