$mobile: 768px;

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  padding-inline: 90px;
  font-family: var(--manrope);

  line-height: 2;
  top: 0;

  z-index: 3;
  transition: 350ms ease-in-out;
  background-color: var(--background-color);

  &.hide {
    top: -50%;
  }

  #logo {
    font-size: 2.8rem;
    font-family: var(--font-dance);
    color: white;
    text-decoration: none;
  }

  #bars-checkbox {
    display: none;
  }

  .bars-label {
    display: none;
    cursor: pointer;
    .bars {
      width: 48px;
      height: 48px;
    }
  }

  ul {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 1.8rem;

        transition: all 0.3s ease-in-out;
        &:hover {
          letter-spacing: 2px;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    padding-inline: 3rem;

    .bars-label {
      display: block;
      align-self: center;
      .bars {
        width: 36px;
      }
    }
    ul {
      position: fixed;
      top: 45px;
      left: -100%;

      width: 100%;
      height: 100vh;

      gap: 5rem;
      flex-direction: column;
      justify-content: center;
      background-color: var(--background-color);
      text-align: center;

      z-index: 1;
      transition: all 0.5s;
      li {
        a {
          font-size: 3rem;
        }
      }
    }

    #bars-checkbox:checked ~ ul {
      left: 0 !important;
    }
  }
}
