$mobile: 768px;
$accent-color: mediumpurple;
$transition: all 350ms ease-in-out;

@mixin button-text-style {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: $transition;
}

#projects {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 10rem 10rem 25rem 10rem;
  gap: 25rem;

  .project {
    position: relative;
    display: flex;

    &:nth-child(even) {
      flex-direction: row-reverse;
      .project__image {
        left: 0;
        right: unset;
      }
    }

    .project__image,
    .project__content {
      position: relative;
      width: 50%;
    }

    .project__image {
      position: absolute;
      right: 0;
      height: 100%;
      scale: 1.1;
      transition: $transition;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top: 1.6rem;
      }
      &:hover {
        scale: 1;
      }
    }

    .project__content {
      height: 100%;
      min-height: 500px;
      padding: 3rem;
      background-color: var(--background-color);

      .title {
        font-size: 5rem;
        font-weight: 600;

        color: $accent-color;
        margin-inline: 0;
        margin-block: 2rem;
      }
      .body {
        font-size: 2rem;
        margin-block-end: 4rem;
      }

      .tags {
        display: flex;
        .tag {
          display: inline-block;
          padding-inline-end: 16px;
          margin: 0;
          font-size: 2rem;
          font-weight: 600;
          text-transform: uppercase;
          word-wrap: break-word;
          &:nth-child(even) {
            color: gray;
          }
        }
      }

      .project__links {
        a.button {
          @include button-text-style;
          padding: 0.5rem 1rem;
          color: $accent-color;

          border: 3px solid $accent-color;
          margin-inline-end: 2rem;
          position: relative;
          &:hover {
            letter-spacing: 5px;
          }
        }
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 1rem;
    gap: 2rem;
    .project {
      flex-direction: column;
      .project__image,
      .project__content {
        width: 100%;
      }

      &:nth-child(even) {
        flex-direction: column;
      }
      .project__image {
        position: relative;
        height: 50vh;
        scale: 1;

        img {
          padding-top: 0;
          object-fit: cover;
        }
      }
      .project__content {
        padding: 2rem;
        .title {
          font-size: 3rem;
        }
        .body {
          font-size: 1.6rem;
        }
        .tags {
          .tag {
            font-size: 1.2rem;
          }
        }
        .project__links {
          a {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
